<a href="https://colab.research.google.com/github/BoKna031/AnimeRecommendationSystem/blob/master/ARS_tidy_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Possible ways to access the dataset:
1.   Access to the dataset via kaggle api (currently not an option due to a 403 error)
2.   Download manually dataset from kaggle and upload to the google drive

In [ ]:
'''
!pip install --user kaggle
! mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
'''

'\n!pip install --user kaggle\n! mkdir ~/.kaggle\n!cp kaggle.json ~/.kaggle/\n!chmod 600 ~/.kaggle/kaggle.json\n'

In [ ]:
#! kaggle datasets download datasets/hernan4444/anime-recommendation-database-2020

Until I enable kaggle api, google drive will be used with defined paths to each csv files
Datasets:


1.   From https://www.kaggle.com/datasets/hernan4444/anime-recommendation-database-2020/discussion/352326 anime.csv, animelist.csv,
2.   From https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database rating.csv, anime.csv
3. https://www.kaggle.com/datasets/vishalmane10/anime-dataset-2022 Anime.csv

# Clearing of anime and rating data

In [ ]:
import os

DATASET_FOLDER = os.sep + 'content'+ os.sep +'drive'+ os.sep +'MyDrive'+ os.sep +'Colab Notebooks'+ os.sep +'dataset'
GENERATED_FOLDER = DATASET_FOLDER + os.sep + 'generated'

ANIME_CSV_PATH = DATASET_FOLDER + os.sep + 'anime.csv'
ANIME_ADDINFO_CSV_PATH = DATASET_FOLDER + os.sep + 'anime_with_synopsis.csv'
BIG_RATINGS_CSV_PATH = DATASET_FOLDER + os.sep + 'animelist.csv' #deleted for space on drive
SMALL_RATING_CSV_PATH = DATASET_FOLDER + os.sep + 'rating.csv'

defining paths to be used for generating and reading csv files

all the files that make up the basic dataset will be in the **dataset** folder, while the generated files will be in the **dataset/generated** folder

In [ ]:
import pandas as pd
anime_df = pd.read_csv(ANIME_CSV_PATH)
anime_df.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [ ]:
anime_df[anime_df['MAL_ID']==1735]

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
1574,1735,Naruto: Shippuuden,8.16,"Action, Adventure, Comedy, Super Power, Martia...",Naruto:Shippuden,ナルト- 疾風伝,TV,500,"Feb 15, 2007 to Mar 23, 2017",Winter 2007,...,249262.0,213677.0,239113.0,175685.0,75970.0,36221.0,15913.0,6661.0,3383.0,4245.0

In [ ]:
anime_df['Genres'] = anime_df['Genres'].str.split(', ')
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

In [ ]:
ordered_column_of_interest = ['MAL_ID', 'Name', 'English name', 'Japanese name', 'Type', 'Genres', 'Producers', 'Studios', 'Episodes', 'Ranked', 'Popularity', 'Popularity', 'Score']
anime_df = anime_df.drop(columns=[col for col in anime_df.columns if col not in ordered_column_of_interest])
anime_df = anime_df.reindex(columns = ordered_column_of_interest)
anime_df.head()

,MAL_ID,Name,English name,Japanese name,Type,Genres,Producers,Studios,Episodes,Ranked,Popularity,Popularity,Score
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]",Bandai Visual,Sunrise,26,28.0,39,39,8.78
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,"[Action, Drama, Mystery, Sci-Fi, Space]","Sunrise, Bandai Visual",Bones,1,159.0,518,518,8.39
2,6,Trigun,Trigun,トライガン,TV,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho...",Victor Entertainment,Madhouse,26,266.0,201,201,8.24
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"[Action, Mystery, Police, Supernatural, Drama,...","TV Tokyo, Bandai Visual, Dentsu, Victor Entert...",Sunrise,26,2481.0,1467,1467,7.27
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,TV,"[Adventure, Fantasy, Shounen, Supernatural]","TV Tokyo, Dentsu",Toei Animation,52,3710.0,4369,4369,6.98

In [ ]:
unique_genres = anime_df['Genres'].explode().unique()
unique_genres.sort()
print(unique_genres)

['Action' 'Adventure' 'Cars' 'Comedy' 'Dementia' 'Demons' 'Drama' 'Ecchi'
 'Fantasy' 'Game' 'Harem' 'Hentai' 'Historical' 'Horror' 'Josei' 'Kids'
 'Magic' 'Martial Arts' 'Mecha' 'Military' 'Music' 'Mystery' 'Parody'
 'Police' 'Psychological' 'Romance' 'Samurai' 'School' 'Sci-Fi' 'Seinen'
 'Shoujo' 'Shoujo Ai' 'Shounen' 'Shounen Ai' 'Slice of Life' 'Space'
 'Sports' 'Super Power' 'Supernatural' 'Thriller' 'Unknown' 'Vampire'
 'Yaoi' 'Yuri']

We should try to find data about *Unknown* animes from other available datasets, and removed animes that contains *Hentai* (content for adults)

In [ ]:
anime_with_unknown_genres = anime_df.loc[anime_df['Genres'].apply(lambda x: 'Unknown' in x)]
print(anime_with_unknown_genres.shape[0])

63

In [ ]:
anime_with_unknown_genres.head()

,MAL_ID,Name,English name,Japanese name,Type,Genres,Producers,Studios,Episodes,Ranked,Popularity,Popularity,Score
9788,28487,Ikite Iru,Unknown,生きている,OVA,[Unknown],Unknown,Unknown,1,14590.0,16774,16774,Unknown
9838,28653,Maze,Unknown,MAZE,Movie,[Unknown],Unknown,Unknown,1,15483.0,13881,13881,Unknown
9839,28655,PiKA PiKA,Unknown,PiKA PiKA,Movie,[Unknown],Unknown,Unknown,1,10476.0,12206,12206,5.12
10090,29655,Chanda Gou,M.S. Chanda,チャンダ号,Movie,[Unknown],Unknown,Unknown,1,13575.0,14186,14186,Unknown
10145,29765,Metropolis (2009),Unknown,METROPOLIS,Movie,[Unknown],Mirai Film,Unknown,1,8458.0,11210,11210,5.93

There is a small number of animes that contains *Unknown* as genre, we can manually enter that information. Data can be added later so we will create file to store anime with unknown genres.

In [ ]:
ANIME_WITH_UNKNOWN_GENRES_CSV_PATH = GENERATED_FOLDER + os.sep + 'unknown_genres_anime.csv'
anime_with_unknown_genres.to_csv(ANIME_WITH_UNKNOWN_GENRES_CSV_PATH, index = False)

For few randomly selected animes from *unknown_genres_anime.csv* I couldn't find any additional data, so we will also removed with other inappropriate genres.

In [ ]:
inappropriate_content = ['Hentai','Unknown']
mask = anime_df['Genres'].apply(lambda content: any(inap_cont in content for inap_cont in inappropriate_content))
inappropriate_df_index = anime_df[mask].index
mal_ids = anime_df.loc[inappropriate_df_index, 'MAL_ID']
anime_df = anime_df.drop(inappropriate_df_index)
print('removed rows: ', len(mal_ids))

removed rows:  1411

In [ ]:
unique_genres = anime_df['Genres'].explode().unique()
unique_genres.sort()
print(unique_genres)

['Action' 'Adventure' 'Cars' 'Comedy' 'Dementia' 'Demons' 'Drama' 'Ecchi'
 'Fantasy' 'Game' 'Harem' 'Historical' 'Horror' 'Josei' 'Kids' 'Magic'
 'Martial Arts' 'Mecha' 'Military' 'Music' 'Mystery' 'Parody' 'Police'
 'Psychological' 'Romance' 'Samurai' 'School' 'Sci-Fi' 'Seinen' 'Shoujo'
 'Shoujo Ai' 'Shounen' 'Shounen Ai' 'Slice of Life' 'Space' 'Sports'
 'Super Power' 'Supernatural' 'Thriller' 'Vampire' 'Yaoi']

Now we need to delete every rating given to the deleted animes

In [ ]:
rating_df = pd.read_csv(SMALL_RATING_CSV_PATH)
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [ ]:
rating_df = rating_df.drop(rating_df[rating_df['anime_id'].isin(mal_ids)].index)
CLEAR_RATING_CSV_PATH = GENERATED_FOLDER + os.sep + 'rating.csv'
rating_df.to_csv(CLEAR_RATING_CSV_PATH, index = False)

In [ ]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7712178 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 235.4 MB

In [ ]:
#if data from bigger rating file is used
#rating_df = rating_df.drop(['watching_status', 'watched_episodes'], axis = 1)
#rating_df.to_csv(CLEAR_RATING_CSV_PATH, index = False)

cleared rating dataframe is saved to the file generated/rating.csv and we can use it in another part of project. Now we will do same with anime dataframe

In [ ]:
CLEAR_ANIME_CSV_PATH = GENERATED_FOLDER + os.sep + 'anime.csv'
anime_df.to_csv(CLEAR_ANIME_CSV_PATH, index = False)

# Group anime by series

To group anime by series we need to find related animes (same anime but different season)

Calcualtion will be divided in 3 steps:
1.   Comparing name of animes using Cosine Similarity
2.   Comparing genres of animes using Jaccard Similarity
3. Comparing studio of animes using Jaccard Similarity

For each of the step, we will choose a special coefficient that we will add to the equation by which we calculate the overall similarity

In [ ]:
import math 
import re
from collections import Counter

def text_to_vector(text):
    words = re.compile(r'\w+').findall(text)
    return Counter(words)

def cosine_similarity(str1, str2):
    vector1 = text_to_vector(str1)
    vector2 = text_to_vector(str2)
    intersection = set(vector1.keys()) & set(vector2.keys())
    numerator = sum([vector1[x] * vector2[x] for x in intersection])

    sum1 = sum([vector1[x]**2 for x in vector1.keys()])
    sum2 = sum([vector2[x]**2 for x in vector2.keys()])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

def jaccard_sim(set1, set2): 
    a = set1
    b = set2
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [ ]:
a1 = "Attack on Titan: Final Season - The Final Chapters"
a2 = "Attack on Titan"
cosine_similarity(a1, a2)

0.5477225575051661

In [ ]:
def union(x):
    str1 = str(x['Producers'])
    str2 = str(x['Studios'])
    creators_str = str1 + ', ' + str2
    items = creators_str.split(', ')
    return set(items)

anime_df['Creators'] = anime_df.apply(union, axis=1)

In [ ]:
Name, Genres, Creators = 1,3,4

In [ ]:
def similarity_score(anime1, anime2):
  c1, c2, c3 = 8, 1, 1
  name_cos_sim =  cosine_similarity(anime1[Name], anime2[Name])
  creators_jac_sim = jaccard_sim(anime1[Creators], anime2[Creators])
  gen_jac_sim = jaccard_sim(set(anime1[Genres]), set(anime2[Genres]))
  score = c1 * name_cos_sim + c2 * creators_jac_sim + c3 * gen_jac_sim
  score = score / (c1 + c2 + c3)
  return round(score,3)

In [ ]:
def create_similarity_matrix(df):
  df_lst = df.values.tolist()
  num_anime = df.shape[0]
  prog_inc = num_anime // 10
  similarity_matrix = np.zeros((num_anime, num_anime))
  for i, anime1 in enumerate(df_lst):
      for j in range(i+1, num_anime):
          similarity_matrix[i, j] = similarity_score(anime1, df_lst[j])
      if i % prog_inc == 0:
        print(i // prog_inc * 10, '%')
  return similarity_matrix

In [ ]:
anime_df = anime_df.reset_index(drop=True)
animes_test = anime_df
display_columns = ['MAL_ID','Name', 'English name', 'Genres', 'Creators']
animes_test = animes_test.drop(columns=[col for col in animes_test.columns if col not in display_columns])
animes_test = animes_test.reindex(columns = display_columns)

In [ ]:
import numpy as np
similarity_matrix_path = "similarity_matrix_tuple.txt"
anime_df_slice = animes_test
try:
  similarity_matrix = np.loadtxt(similarity_matrix_path, delimiter=',')
except FileNotFoundError:
  print('File not found => create new similarity matrix')
  similarity_matrix = create_similarity_matrix(anime_df_slice)
  np.savetxt(similarity_matrix_path, similarity_matrix, delimiter=",")

File not found => create new similarity matrix
0 %

KeyboardInterrupt: ignored

In [ ]:
similarity_matrix

In [ ]:
print(similarity_matrix.shape)
#upper_triangular_matrix = np.triu(similarity_matrix, 1)
indeksi = np.where(similarity_matrix > 0.75)
indeksi = list(zip(indeksi[0], indeksi[1]))

In [ ]:
len(indeksi)

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt

graph = nx.Graph(indeksi)

'''
nx.draw(graph, with_labels=True)
plt.show()
'''

In [ ]:
closedGroups = list(nx.connected_components(graph))

anime_series_df = pd.DataFrame(columns = ['Name','MAL_ID','Group'])
for g_ind, group in enumerate(closedGroups):
  anime_name = []
  anime_id = []
  anime_group = []
  for anime_index in group:
    anime = animes_test.iloc[anime_index]
    anime_name.append(anime['Name'])
    anime_id.append(anime['MAL_ID'])
    anime_group.append(g_ind)
  temp_df = pd.DataFrame({'Name':anime_name, 'MAL_ID':anime_id, 'Group': anime_group})
  anime_series_df = pd.concat([anime_series_df, temp_df], ignore_index = True)

In [ ]:
#anime_series_df.head()
anime_series_df_path = GENERATED_FOLDER + os.sep + 'anime_series.csv'
anime_series_df.to_csv(anime_series_df_path)

NameError: ignored

In [ ]:
anime_in_series_cnt = anime_series_df['Group'].value_counts()
anime_in_series_cnt.sort_values(ascending=False)

In [ ]:
anime_series_df_path = GENERATED_FOLDER + os.sep + 'anime_series.csv'
anime_series_df = pd.read_csv(anime_series_df_path, index_col=0)

In [ ]:
anime_series_df[anime_series_df['Group'] == 360]

                                                   Name  MAL_ID  Group
1113                  Hello Kitty no Kaguya-hime (2001)   42501    360
1114              Hello Kitty: Ringo no Mori no Mystery   22439    360
1115        Hello Kitty: Ringo no Mori to Parallel Town   22441    360
1116                Hello Kitty no Alps no Shoujo Heidi   22443    360
1117                           Hello Kitty no Momotarou   22447    360
1118                           Hello Kitty no Shoukoujo   22459    360
1119                        Hello Kitty no Yume Dorobou   22461    360
1120                      Hello Kitty no Mahou no Ringo   22479    360
1121                   Hello Kitty no Sanbiki no Kobuta   22483    360
1122                        Hello Kitty no Yuki no Joou   22485    360
1123                    Hello Kitty no Cinderella (OVA)   30264    360
1124               Hello Kitty no Shirayuki-hime (2001)   30263    360
1125     Hello Kitty no Ou-sama no Mimi wa Roba no Mimi   22491    360
1126         Hello Kitty no Yume no Oshiro no Ouji-sama   22495    360
1127                         Hello Kitty no Kaguya-hime   22497    360
1128          Hello Kitty no Hajimete no Christmas Cake   29535    360
1129       Hello Kitty no Minna no Tanoshii Natsuyasumi   29539    360
1130            Hello Kitty no Fushigi no Kuni no Alice   15577    360
1131                        Hello Kitty no Oyayubi-hime   32622    360
1132                      Hello Kitty no Shirayuki-hime   17951    360
1133               Hello Kitty no Nemureru Mori no Bijo   17955    360
1134  Hello Kitty no Alps no Shoujo Heidi II: Klara ...   18587    360
1135              Hello Kitty no Shiawase no Aoi Hotaru   18829    360
1136              Hello Kitty: Ringo no Mori no Fantasy   11521    360
1137                          Hello Kitty no Cinderella    9291    360
1138                              Hajimete no Christmas   10246    360
1139                  Hello Kitty no Oyayubi-hime (OVA)   17481    360
1140                  Fushigi no Kuni no Alice Specials   40244    360
1141                    Hello Kitty no Hakuchou no Ouji   18085    360
1142                   Hello Kitty no Shiawase no Tulip   18825    360
1143            Hello Kitty: Mahou no Mori no Ohimesama   18827    360
1144                           Fushigi no Kuni no Alice    2572    360

In [ ]:
anime_series_df.head(14)

                                                 Name  MAL_ID  Group
0                                      Bouken Ou Beet       8      0
1                            Bouken Ou Beet Excellion    1123      0
2                             Hachimitsu to Clover II    1142      1
3                                Hachimitsu to Clover      16      1
4                       Hachimitsu to Clover Specials     644      1
5   One Piece: Kinkyuu Kikaku One Piece Kanzen Kou...   16143      2
6                                     One Piece Recap    8171      2
7                                           One Piece      21      2
8                    Tennis no Ouji-sama: Pair Prince   10862      3
9                                 Tennis no Ouji-sama      22      3
10                  Tennis no Ouji-sama: Best Games!!   36952      3
11                           Shin Tennis no Ouji-sama   11371      3
12                  Shin Tennis no Ouji-sama Specials   13245      3
13            Tennis no Ouji-sama: Oshougatsu Special    5996      3